@import 'normalize';

//#051e3e • #251e3e • #451e3e • #651e3e

$hme: #051e3e;
$abt: #251e3e; 
$exp: #451e3e;
$crt: #651e3e;
$space: #0F0F0F;
$dark-blue: #011f4b;

body {
  font-family: 'Nanum Gothic', sans-serif;
  background-color: #000000;
}

body.home_page { 
  background-image: url(images/totoro.JPG);
  background-attachment: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: contain;
  overflow: visible;
  position: relative;
}

body.about_page {
  background-color: #FFFFFF;
  position: relative;
}

.navbar {
  position: absolute;
  overflow: hidden ;
  background-color: $space;
  float: right;
  width: 100%;
}

.navbar a {
  color: #ffffff;
  float: left;
  padding: 20px 16px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
}

/*
.navbar a:hover:not(.active) {
  background-color: #555;
  color: white;
}*/

.navbar a.hme.active {
  background-color: $hme;
}

.navbar a.hme:hover:not(.active) {
  background-color: $dark-blue;
}

.navbar a.abt.active {
  background-color: $abt;
}

.navbar a.abt:hover:not(.active) {
  background-color: $abt;
}

.navbar a.exp.active {
  background-color: $exp;
}

.navbar a.exp:hover:not(.active) {
  background-color: $exp;
}

.navbar a.crt.active {
  background-color: $crt;
}

.navbar a.crt:hover:not(.active) {
  background-color: $crt;
}

.crop_img {
  position: absolute;
  top: 200px;
  left: 90px;
  width: 500px;
  height: 600px;
  overflow: hidden;
}

.crop_img img {
  display: inline-block;
  position: absolute;
  width: 900px;
  height: auto;
  object-fit: cover;
  margin: -10px 1px 0px -200px;
}

.clearfix {
  overflow: auto;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.main {
  color: #ffffff;
  font-size: 80px;
  font-family: 'News Cycle', sans-serif;
  position: absolute;
  letter-spacing: 10px;
  top: 350px;
  left: 50%;
}