@import 'normalize';

//#051e3e • #251e3e • #451e3e • #651e3e

$hme: #051e3e;
$abt: #251e3e; 
$exp: #451e3e;
$crt: #651e3e;
$space: #0F0F0F;
$dark-blue: #011f4b;
$white: #ffffff;
$pebble: #5C5C5C;

body {
  font-family: 'Nanum Gothic', sans-serif;
  position: absolute;
  background-color:$white;
}

body.home_page { 
  margin: auto;
  width: 50%;
}

body.about_page {
  background-color: #FFFFFF;
  position: absolute;
}

img {
  width: 100px;
}

nav {
  border-bottom: 3px solid $pebble;
  padding: 15px;
}

.navbar {
  margin: auto;
  position: fixed;
  overflow: hidden;
  top: 8%;
  left: 25%;
  //float: left;
  width: 50%;
}

.navbar a {
  color: $pebble;
  left: 60%;
  position: relative;
  font-size: 30px;
  padding: 50px 20px 5px;
  text-align: center;
  text-decoration: none;
  border-bottom: 3px solid transparent;
}

/*
.navbar a:hover:not(.active) {
  background-color: #555;
  color: white;
}*/

.navbar a.hme.active {
  background-color: $hme;
}

.navbar a.hme:hover:not(.active) {
  background-color: $dark-blue;
}

.navbar a.abt.active {
  background-color: $abt;
}

.navbar a.abt:hover:not(.active) {
  border-bottom: 3px solid rgb(255, 217, 102);
}

.navbar a.exp.active {
  background-color: $exp;
}

.navbar a.exp:hover:not(.active) {
  background-color: $exp;
}

.navbar a.crt.active {
  background-color: $crt;
}

.navbar a.crt:hover:not(.active) {
  border-bottom: 3px solid rgb(255, 217, 102);
}

.crop_img {
  position: absolute;
  top: 200px;
  left: 90px;
  width: 500px;
  height: 600px;
  overflow: hidden;
}

.crop_img img {
  display: inline-block;
  position: absolute;
  width: 900px;
  height: auto;
  object-fit: cover;
  margin: -10px 1px 0px -200px;
}

.clearfix {
  overflow: auto;
  //position: absolute;
}

.main {
  color: $pebble;
  font-size: 25px;
  position: relative;
  top: 350px;
  left: 25%;
}