@import 'normalize';

body {
  font-family: 'Nanum Gothic', sans-serif;
  background-image: url(images/totoro.JPG);
  background-attachment: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: fill;
  background-color: #000000;
  overflow: visible;
  position: relative;
}

.navbar {
  overflow: hidden ;
  background-color: #000000;
  float: right;
  width: 100%;
}

.navbar a {
  color: #ffffff;
  float: left;
  padding: 20px 16px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
}

.navbar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

.navbar a.active {
  background-color: #451E3E;
  color: white;
}

.clearfix {
  overflow: auto;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.main {
  color: #ffffff;
  font-size: 80px;
  font-family: 'News Cycle', sans-serif;
  position: absolute;
  letter-spacing: 10px;
  top: 350px;
  left: 50%;
}